<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout.html}">
<head>
    <meta charset="UTF-8">
    <title>Edit category</title>
</head>
<body>
<section layout:fragment="content">
    <h1>Edit category</h1>
    <th:block th:if="${message}">
        <p th:text="${message}"></p>
    </th:block>
    <form th:object="${category}" method="post">
        <input th:type="hidden" name="id" th:field="*{id}">
        <table>
            <tr>
                <td>Name:</td>
                <td><input type="text" th:field="*{name}"/></td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="Update category"></td>
            </tr>
        </table>
    </form>
</section>
</body>
</html>